.expense-summary-container {
    width: 417px;
    height: 345px;
    top: 441px;
    left: 800px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;
    background-color:#FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    color: #000000;

  }
  
